*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

body {
  background: #e0e8ff;
  color: #7280a7;
  height: 100vh;
  width: 100%;
<<<<<<< HEAD
  background-image: url("../images/pattern-background-mobile.svg");
=======
  background-image: url(./images/pattern-background-mobile.svg);
>>>>>>> 1a9ef2dd097d1b74563373a4269cfe123676940f
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

main {
  max-width: 23.4375rem;
  padding-inline: 1.5rem;
}

footer {
  margin-top: 2rem;
}

@media (min-width: 56.25rem) {
  body {
<<<<<<< HEAD
    background-image: url("../images/pattern-background-desktop.svg");
=======
    background-image: url(./images/pattern-background-desktop.svg);
>>>>>>> 1a9ef2dd097d1b74563373a4269cfe123676940f
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attributiona {
  color: #3e52a3;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.container {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 8px 15px 15px rgba(0, 0, 0, 0.05);
}
.container .hero-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.order {
  padding: 1.5rem;
}
.order-header {
  color: #1f2f56;
  font-weight: 900;
  font-size: 1.5rem;
}
.order-text {
  line-height: 1.6;
  padding-inline: 0.8rem;
  font-size: 0.9375rem;
}
.order-ratebox {
  background-color: #f5f7ff;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  justify-content: start;
  gap: 1.5rem;
  font-size: 0.875rem;
}
.order-ratebox--plan {
  gap: 0.3rem;
}
.order-ratebox--plan_item {
  font-weight: 900;
  color: #1f2f56;
}
.order-ratebox--change {
  flex: 1;
  text-align: right;
  color: #3829e0;
  font-weight: 700;
  font-size: 0.8125rem;
}
.order-ratebox--change:hover {
  color: rgba(56, 41, 224, 0.7);
}
.order-paymentbtn {
  width: 100%;
  background-color: #3829e0;
  outline: none;
  border: 0;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.7rem;
}
.order-paymentbtn:hover {
  background-color: rgba(56, 41, 224, 0.7);
}
.order-cancel {
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
  color: #7280a7;
}
.order-cancel:hover {
  color: #1f2f56;
  font-weight: 900;
}
